body, html {
    margin: 0;
    padding: 0px;
}

#root{
    margin-top: 0px;
    background-color: #0077f6;
    height: 625px;
    font-family: 'Open sans', Arial, sans-serif;
}

ul{
    box-sizing: border-box;
    padding: 0px;
    height: 100%;
    margin: 0px;
}

li{
    
}

a{
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    /**height: 100%;**/
    padding: 22.3px 30px;
    box-sizing: border-box; 
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 24px;
}

a:hover{
    background-color: #0061c9;
}